
@{
    Layout = null;
    ViewBag.Title = "Giriş Yap";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Job Finding Admin</title>
    <link href="~/Content/CSS/styles.css" rel="stylesheet" />
    <script src="~/Scripts/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            @model jobFindingAdmin.Models.user_account
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Giriş Yap</h3></div>
                                <div class="card-body">
                                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputEmailAddress">Email</label>
                                        @Html.TextBoxFor(x => x.userEmail, new { @class = "form-control py-4", id = "inputEmail", placeholder = "Email adresini giriniz", required = "required", type = "text", onblur = "validateEmail(this.value);" })
                                        <div class="alert alert-danger" id="wrongEmailFormat">
                                            Geçersiz e-mail adresi.
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputPassword">Parola</label>
                                            @Html.TextBoxFor(x => x.userPassword, new { @class = "form-control py-4 pwd", id = "inputPassword", placeholder = "Parolanızı Giriniz", type = "password", required = "required" })
                                            <span style="float: right;margin-left: -25px;margin-top: -35px;position: relative;z-index: 2;margin-right: 5px;">
                                                <button class="btn btn-default toggle-password" type="button">
                                                    <i class="fas fa-eye eye"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <span style="color:red">
                                            @ViewBag.Warning
                                        </span>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a class="small" href="/Admin/Change/ForgetPassword">Parolanızı mı unuttunuz?</a><button class="btn btn-primary" type="submit">Giriş Yap</button></div>
                                    }

                                </div>
                                <div class="card-footer text-center">
                                    @*<div class="small"><a href="register.html">Need an account? Sign up!</a></div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Akdeniz Üniversitesi Mühendislik Fakültesi 2020 - @DateTime.Now.Year</div>
                        <div>
                            @*<a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>*@
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/Scripts/jquery.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/scripts.js"></script>
    <script src="~/Scripts/validate.js"></script>
    <script>
        $(document).ready(function () {
            $('#wrongEmailFormat').hide();
        });
        $(".toggle-password").click(function () {
            var input = $('.pwd');
            if (input.attr("type") == "password") {
                $('.eye').removeClass("fa-eye");
                $('.eye').addClass("fa-eye-slash");
                input.attr("type", "text");
            } else {
                $('.eye').removeClass("fa-eye-slash");
                $('.eye').addClass("fa-eye");
                input.attr("type", "password");
            }
        });
    </script>
</body>
</html>
