
@{
    Layout = null;
    @model jobFindingAdmin.Models.HelperModel.resetPassword
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Job Finding Admin</title>
    <link href="~/Content/CSS/styles.css" rel="stylesheet" />
    <script src="~/Scripts/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Parola Yenileme</h3></div>
                                <div class="card-body">
                                    @using (Html.BeginForm("ResetPassword", "Change", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <label class=" mb-1"> Lütfen yeni parolanızı giriniz.</label>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="inputPassword">Parola</label>
                                                    @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control py-4", type = "password", id = "inputPassword", placeholder = "Parolayı giriniz" })
                                                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="inputConfirmPassword">Parola Onay</label>
                                                    @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control py-4", id = "inputConfirmPassword", type = "password", placeholder = "Parola Onay" })
                                                    
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.HiddenFor(a => a.ResetCode)
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group text-danger">
                                                    @ViewBag.Warning
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group text-danger">
                                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group text-success">
                                                    @ViewBag.Success
                                                </div>
                                            </div>
                                            <div class="form-group mt-4 mb-0">
                                                <button class="btn btn-primary btn-block">Parolayı Yenile</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small">
                                        <a  href="/Home/Login">Giriş sayfasına git.</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Akdeniz Üniversitesi Mühendislik Fakültesi 2020 - @DateTime.Now.Year</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/scripts.js"></script>
</body>
</html>
